body{
    background-image:  url(https://static.itavisen.no/media/2019/06/netflix-popout.jpg) ;
    background-repeat: no-repeat;
   
}

.fundo-transparente{
    background: rgba(255, 254, 254, 0.685);
}
.box-texto{

    margin: 15% auto;
    
    
}

.input-form{
    height: 50px;
    box-shadow: 5px 5px 8px black;

    /* margin-left: 55px; */
}

.botao-input a{
    text-align: center;
    display: inline-block;
    color: #fca311;
    background: #000;
    height:50px;
    line-height: 50px;
    text-decoration: none;
    box-shadow: 5px 5px 8px black;

    
}
.botao-input a:hover, .botao-input a:active{
    color: black;
    border: 1px solid #fca311;
    background: #fca311;
}

.botao-form button{
    text-align: center;
    border: 1px solid #fff;
    display: inline-block;
    color: #fca311;
    background: #000;
    height:50px;
    line-height: 25px;
    text-decoration: none;
    
}
.botao-form button:hover, .botao-form button:active{
    color: black;
    border: 1px solid #fca311;
    background: #fca311;
}

.link-modal-entrar a{
    color: #fca311
}
.link-modal-entrar a:hover{
    color: black
}