body{
    background: black;
}

.botao-nav a{
    display: inline-block;
    color: #fca311;
    text-decoration: none;
    line-height: 40px;

    
}
.botao-nav a:hover, .botao-nav a:active{
    color: black;
   
}

.botao-form button{
    text-align: center;
    display: inline-block;
    color: #fca311;
    height:50px;
    line-height: 25px;
    text-decoration: none;
    border-radius: 7px;
    width: 35px;
    padding: 0;
    
}
.botao-form button:hover, .botao-form button:active{
    color: black;
}
.icon{
    width: 100%;
}

/* MAIN */
main{
    width: 100%;
    margin: 0;
    padding: 0;
}
.card{
    min-width: 18rem;
    max-width: 18rem;
    height: auto;
    margin: 2%;
}

.card-img-top{
    object-fit: cover;
    object-position: 0 30%;
    height: 250px;

}
.card-text{
    height: 150px;
    text-align: justify ;
    font-size: 15px;
}

.card-titulo{
    text-align: center;
    text-transform: uppercase;
}

.inativo{
    display: none;
}

/* inforbmações */


.img-informacao{
    width: 110%;
    object-fit: cover;
    height: 550px;
}