body{
    background: black;
}

.btn-stilo a{
    border-radius: 7px;
    text-align: center;
    
    border: 1px solid #000;
    color: #fca311;
    margin: 5px;
    background: #000;
}


.btn-stilo a:hover, .btn-stilo a:active{
    color: black;
    border: 1px solid #fca311;
    background: #fca311;
}

.botao-form button{
    text-align: center;
    display: inline-block;
    color: #fca311;
    background: #000;
    height:50px;
    line-height: 25px;
    text-decoration: none;
    border: none;
    border-radius: 7px;
    
}
.botao-form button:hover, .botao-form button:active{
    color: black;
    border: 1px solid #fca311;
    background: #fca311;
}
.card{
    min-width: 18rem;
    max-width: 18rem;
    height: auto;
    margin: 2%;
}

.card-img-top{
    object-fit: cover;
    object-position: 0 30%;
    height: 250px;

}
.card-text{
    height: 150px;
    text-align: justify ;
    font-size: 15px;
}

.card-titulo{
    text-align: center;
    text-transform: uppercase;
}
